body {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 120%;
  background-color: #EFF0F2;
}

main {
  padding: 0;
  margin: 0;
}

h1 {
  color: #207EE9;
}

article h1 {
  font-size: 200%;
}

h2 {
  color: #336B87;
}

a:focus {
  outline-style: dashed;
  outline-color: #FFBF00;
  outline-width: 3px;
}

a:visited {
  text-decoration: none;
}

@media (min-width: 500px) {
  main {
    margin: 39px 0 0;
  }
}

footer p {
  margin: 0 0 44px;
  padding: 1cm;
  background-color: #2A3132;
  color: white;
  text-align: center;
}

@media (min-width: 500px) {
  footer p {
    margin: 0;
  }
}

#myNavbar {
  bottom: -117px;
  position: fixed;
  width: 100%;
  z-index: 20;
}

#myNavbar ul {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 5;
}

#myNavbar li {
  display: block;
  background-color: #2A3132;
  height: 39px;
}

#myNavbar li a {
  display: block;
  color: white;
  padding: 0.25em 16px;
}

#myNavbar li a:focus {
  text-decoration: underline;
}

#myNavbar li a:active, #myNavbar li a:hover {
  background-color: #336B87;
  outline-style: none;
  text-decoration: none;
}

#myNavbar label {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  display: inline-block;
  color: #fff;
  background: #cf7917;
  font-style: normal;
  font-size: 28px;
  padding: 10px 18px;
}

#myNavbar .noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#myNavbar input {
  display: none;
}

#myNavbar p {
  height: 44px;
  padding: 8px 0;
  font-size: 30px;
  bottom: 0;
  margin: 0;
  display: inherit;
  text-align: center;
  color: #FEFEFE;
  background-color: #2A3132;
}

#navbarLinks {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (min-width: 500px) {
  #myNavbar {
    top: 0;
    height: 39px;
    background-color: #2A3132;
  }
  #myNavbar li {
    display: inline-block;
  }
  #myNavbar label,
  #myNavbar p {
    display: none;
  }
}

h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding: 10px 0;
}

.text {
  padding: 20px 5%;
  overflow: hidden;
}

.secret-text {
  opacity: 0.01;
}

a {
  text-decoration: none;
}

@media (min-width: 500px) {
  .text {
    padding: 20px 10%;
  }
}

@media (min-width: 1500px) {
  .text {
    padding: 20px 25%;
  }
}

.btn {
  background-color: #207EE9;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 25px;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 30px;
  white-space: nowrap;
}

.btn:hover {
  background-color: #336B87;
  outline: 0;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 10px #FFBF00;
          box-shadow: 0 0 0 10px #FFBF00;
  outline: 0;
}

@media (min-width: 500px) {
  .btn {
    margin-top: 0px;
  }
}

.btnArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnArea .btn {
  margin-left: 5px;
  margin-right: 5px;
}

img {
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card,
.card--3d-models,
.card--withouticon {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background-color: white;
  padding: 35px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 10px 0 black;
          box-shadow: 0 5px 10px 0 black;
  grid-gap: 30px;
}

.card .header,
.card--3d-models .header,
.card--withouticon .header {
  margin: auto 0;
  text-align: center;
}

.card a:visited,
.card--3d-models a:visited,
.card--withouticon a:visited {
  color: #FEFEFE;
}

@media (min-width: 610px) {
  .card {
        grid-template-areas: "headline image" "text text" "buttonArea buttonArea";
    -ms-grid-columns: autos 128px;
        grid-template-columns: autos 128px;
    -ms-grid-rows: 120px auto 50px;
        grid-template-rows: 120px auto 50px;
  }
  .card--3d-models {
        grid-template-areas: "headline headline image" "text text image" "cc cc cc" "buttonArea buttonArea buttonArea";
    -ms-grid-columns: 250px auto 128px;
        grid-template-columns: 250px auto 128px;
    -ms-grid-rows: 60px auto8px auto 50px;
        grid-template-rows: 60px auto8px auto 50px;
  }
  .card,
  .card--3d-models {
    grid-gap: 10px;
  }
  .card .header,
  .card--3d-models .header {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: headline;
  }
  .card .btn,
  .card--3d-models .btn {
    grid-area: button;
  }
  .card .icon,
  .card--3d-models .icon {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: image;
  }
  .card p,
  .card--3d-models p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text;
  }
  .card .creativecommons,
  .card--3d-models .creativecommons {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: cc;
  }
  .card .btnArea,
  .card--3d-models .btnArea {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: buttonArea;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  grid-column-gap: 30px;
}

@media (min-width: 800px) {
  .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

@media (min-width: 1500px) {
  .grid-container {
    padding: 70px;
  }
}

.banner {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 0 black;
          box-shadow: 0 5px 10px 0 black;
}

.banner h1,
.banner p {
  text-align: center;
}

.banner h1 {
  color: #FEFEFE;
}

@media (min-width: 500px) {
  .banner {
        grid-template-areas: "headline image" "description image";
    -ms-grid-columns: auto 120px;
        grid-template-columns: auto 120px;
    -ms-grid-rows: 60px auto;
        grid-template-rows: 60px auto;
  }
  .banner h1 {
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: headline;
  }
  .banner .image-anchor {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: image;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .image-anchor img {
    margin: auto 0;
  }
  .banner p {
    text-align: inherit;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: description;
  }
}

.bannerlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
}

h1 {
  text-align: center;
}

#github {
  background-color: #29508C;
}

#gitlab {
  background-color: #cf7917;
}

#codeberg {
  background-color: #EFF0F2;
}

#codeberg h1 {
  color: #2A3132;
}

#discord {
  text-align: center;
}

#discordIframe {
  height: 500px;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px 0 black;
          box-shadow: 0 5px 10px 0 black;
}

.image-anchor:focus {
  outline: none;
}

.image-anchor:focus img {
  -webkit-box-shadow: 0 5px 10px 0 black;
          box-shadow: 0 5px 10px 0 black;
}

::-moz-focus-inner {
  border: 0;
}

.textLeft,
.textRight {
  text-align: center;
}

@media (min-width: 500px) {
  h1 {
    text-align: inherit;
  }
}

@media (min-width: 1500px) {
  #discordIframe {
    width: 800px;
  }
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 80, 80, 0)), color-stop(8%, #505050), color-stop(92%, #505050), to(rgba(80, 80, 80, 0)));
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #ff5050;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #fa5050;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  .timeline li {
    padding: 2em 0;
  }
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag-wrapper {
    text-align: center;
  }
  .flag {
    background: white;
    z-index: 15;
  }
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff5050;
    z-index: 10;
  }
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  .direction-l .time-wrapper {
    float: none;
  }
  .direction-r .time-wrapper {
    float: none;
  }
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}

.icon {
  outline-style: dashed;
  outline-width: 4px;
  outline-color: #336B87;
}

.creativecommons {
  margin-top: 20px;
}

.creativecommons a:visited {
  color: #29508C;
}

.creativecommons img {
  margin-left: auto;
}

@media (min-width: 500px) {
  .creativecommons img {
    margin-left: inherit;
  }
}

.rotateAni {
  -webkit-animation-name: rotateImg;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateImg {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0);
  }
}

@keyframes rotateImg {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0);
  }
}

.navbarAniOpen {
  -webkit-animation-name: slideNavbarOpen;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideNavbarOpen {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-117px);
            transform: translateY(-117px);
  }
}

@keyframes slideNavbarOpen {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-117px);
            transform: translateY(-117px);
  }
}

.navbarAniClose {
  -webkit-animation-name: slideNavbarClose;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideNavbarClose {
  from {
    -webkit-transform: translateY(-117px);
            transform: translateY(-117px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideNavbarClose {
  from {
    -webkit-transform: translateY(-117px);
            transform: translateY(-117px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */