// main: ../main.scss

#infomations {
    background-color: $colorInfos;
}

#androidApps {
    transform: skew(5 deg);
    background-color: $colorAndroidApps;
}

#javaPrograms {
    background-color: $colorJavaPrograms;
}


#arduino {
    background-color: $colorArduino;
}
