// main: ../main.scss

#androidApps {
  img {
    float: right;
    margin-left: 20%;
    margin-top: -3%;
    outline-style: dashed;
    outline-width: 5px;
    outline-color: $greyieBlueColor;
  }
}

.downloadItem {
	background-color: white;
	padding: 5px 35px 30px;
	margin-bottom: 30px;
	box-shadow: 0 5px 10px 0 black;

  a:visited
  {
    color: $nearlyWhite;
  }
}
