// main: ../main.scss

#androidApps {
  img {
    float: right;
    margin-left: 20%;
    margin-top: -3%;
    outline-style: dashed;
    outline-width: 5px;
    outline-color: $greyieBlueColor;
  }
}
