// main: ../main.scss

h1 {
  text-align: center;
}

#github {
  background-color: $goodBlueColor;

  h1 {
    color: $nearlyWhite;
  }
  box-shadow: 0 5px 10px 0 black;
}

#gitlab {
  background-color: $amberColor;

  h1 {
    color: $nearlyWhite;
  }
  box-shadow: 0 5px 10px 0 black;
}

#discord {
  text-align: center;
}

#discordIframe {
  height: 500px;
  width: 100%;
}

.imageAnchor:focus {
  outline: none;

  img {
    box-shadow: 0 5px 10px 0 black;
  }
}

::-moz-focus-inner {
  border: 0;
}

.textLeft,
.textRight {
  text-align: center;
}
@media (min-width: $min-width) {
  h1 {
    text-align: inherit;
  }
}
@media (min-width: $tablet-size) {
  #discordIframe {
    width: 800px;
  }
}
