#introduction {
    background-color: $introductionColor;
}

#discord {
    text-align: center;
    background-color: $discordColor;
}

#discordIframe {
    height: 500px;
    width: 100%;
}

#steam {
    background-color: $steamColor;
}

#github {
    background-color: $githubColor;
}

#exophase {
    background-color: $exophaseColor;

    img {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        text-align: center;
    }
}

img {
    max-width: $img-size;
    max-height: $img-size;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textRight,
.textLeft {
    text-align: center;
}

@media (min-width: $min-width) {
    #discordIframe {
        width: 818px;
    }

    .imgLeft {
        float: left;
        margin-left: 20%;
    }

    .imgRight {
        float: right;
        margin-right: 20%;
    }

    .imgLeft,
    .imgRight {
        margin-top: -65px;
    }

    .textRight {
        margin-right: 20%;
        text-align: right;
    }

    .textLeft {
        margin-left: 20%;
        text-align: left;
    }
}