// main: ../main.scss
//Icons on Download Page

.rotateAni {
  animation-name: rotateImg;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes rotateImg {
  from {
    transform: rotate(0deg) scale(1) skew(0deg) translate(0);
  }

  to {
    transform: rotate(360deg) scale(1) skew(0deg) translate(0);
  }
}

//Navbar
.navbarAniOpen {
  animation-name: slideNavbarOpen;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slideNavbarOpen {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY($navbar-offset);
  }
}

.navbarAniClose {
  animation-name: slideNavbarClose;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideNavbarClose {
  from {
    transform: translateY($navbar-offset);
  }

  to {
    transform: translateY(0);
  }
}
