// main: ../main.scss
//Icons on Download Page

.rotateAni {
  -webkit-animation-name: rotateImg;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@keyframes rotateImg {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0);
  }
}
//Navbar

.navbarAniOpen {
  -webkit-animation-name: slideNavbarOpen;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@keyframes slideNavbarOpen {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-156px);
  }
}

.navbarAniClose {
  -webkit-animation-name: slideNavbarClose;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@keyframes slideNavbarClose {
  from {
    transform: translateY(-156px);
  }

  to {
    transform: translateY(0);
  }
}
