// main: ../main.scss

$notJustGreyColor: #2A3132;
$nearlyWhite: #FEFEFE;
$notSoNearlyWhite: #EFF0F2;


$amberColor: #FCA326;
$amberColorDark: #FDD193;

$mainColorDark: #1564B3;
$mainColor: #318CE7;
$mainColorBright: #4F9DEA;
$mainColorBrighter: #A7CEF5;

$mainAnalogousDarker: #118F7A;
$mainAnalogousDark: #13A18A;
$mainAnalogous: #32E7C9;