// main: ../main.scss
$bottonColor: #5499C7;
$bottonColorHover: #E74C3C;
$bottonBorderColor: rgba(0, 0, 0, 0.281);

/*
New Layout
*/

$notJustGreyColor: #2A3132;
$greyieBlueColor: #336B87;
$nearlyWhite: #FEFEFE;
$notSoNearlyWhite: #EFF0F2;
$goodBlueColor: #207EE9;
$amberColor: #FFBF00;
