$bodyColor: #AED6F1;

$colorfooter: #21618C;
$bodycolor: #AED6F1;

$bottonColor: #5499C7;
$bottonColorHover: #E74C3C;
$bottonBorderColor: rgba(0, 0, 0, 0.281);

$agbColor: #82E0AA;

$colorInfos: #A3E4D7;
$colorAndroidApps: #5499C7;
$colorJavaPrograms: #C39BD3;
$colorArduino: #F7DC6F;

$introductionColor: #82E0AA;
$discordColor: #5DADE2;
$steamColor: #F7DC6F;
$githubColor: #5499C7;
$color5: rgb(199, 191, 84);
