// main: ../main.scss

// General
$img-size: 120px;
$tablet-size: 1500px;
$min-width: 500px;
$num-pages: 3;

// Navbar
$navbar-title-height--calc: 44;
$navbar-title-padding--calc: 8;

$hamburger-height--calc: 40;
$hamburger-padding--calc: 10;

$list-item-size--calc: 39;

$navbar-offset--calc: -($list-item-size--calc * $num-pages);

$navbar-title-height: $navbar-title-height--calc+px;
$navbar-title-padding: $navbar-title-padding--calc+px;
$hamburger_height: $hamburger-height--calc + px;
$hamburger_padding: $hamburger-padding--calc + px;
$list-item-size: $list-item-size--calc + px;
$navbar-offset: $navbar-offset--calc + px;

$navbar-normal-height: 39px;