$header-height: 124px;
$navbar-height: 33px;
$img-size: 120px;
$min-width: 1024px;
$returnToTheTopSize: 28px;

$colorfooter: #21618C;
$bodycolor: #AED6F1;

$bottonColor: #5499C7;
$bottonColorHover: #E74C3C;
$bottonBorderColor: rgba(0, 0, 0, 0.281);