// main: ../main.scss
@import "../utilities/_variables";

.btn {
  background-color: $goodBlueColor;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 25px;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 30px;
  white-space: nowrap;

  &:hover {
    background-color: $greyishBlueColor;
    outline: 0;
  }

  &:focus {
    box-shadow: 0 0 0 10px $amberColor;
    outline: 0;
  }
}
@media (min-width: $min-width) {
  .btn {
    margin-top: 0px;
  }
}

.btnArea {
  display: flex;
  justify-content: center;

  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}
