// main: ../main.scss
@import '../utilities/_variables';

.downloadLink,
.downloadLinkRight {
  background-color: $goodBlueColor;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 25px;
  border-radius: 25px;

  a:visited {
    color: green;
  }
}

.downloadLinkRight {
  float: right;
  margin-top: -100px;
}

.downloadLink:hover,
.downloadLinkRight:hover {
  background-color: $greyieBlueColor;
  outline: 0;
}

.downloadLink:focus,
.downloadLinkRight:focus {
  box-shadow: 0 0 0 10px $amberColor;
  outline: 0;
}

.downloadLink {
  float: center;
  margin-top: 20px;
}

.downloadLinkRight {
  float: right;
  margin-top: -100px;
}

::-moz-focus-inner {
  border: 0;
}
@media (min-width: $min-width) {
  .btn {
    width: auto;
  }
}
