// main: ../main.scss

.table-div {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;

    td,
    th {
      border: 1px solid $nearlyWhite;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: $notSoNearlyWhite;
    }

    tr:nth-child(odd) {
      background-color: $nearlyWhite;
    }

    tr:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $mainAnalogousDarker;
      color: white;

      &.th-lvl-2 {
        background-color: $mainAnalogousDark;
      }
    }
  }
}
