// main: ../main.scss
@import "../utilities/variables.scss";
@import "../utilities/colors.scss";

body {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 120%;
  background-color: $notSoNearlyWhite;
}

main {
  padding: 0;
  margin: 0;
}

h1 {
  color: $goodBlueColor;
}

article {
  h1 {
    font-size: 200%;
  }
}

h2 {
  color: $greyishBlueColor;
}

a {
  &:focus {
    outline-style: dashed;
    outline-color: $amberColor;
    outline-width: 3px;
  }

  &:visited {
    text-decoration: none;
  }
}

@media (min-width: $min-width) {
  main {
    margin: $navbar-normal-height 0 0;
  }
}
