@import '../utilities/variables';

.navbar {
	overflow: hidden;
	list-style-type: none;
	background-color: rgb(255, 255, 255);

	a {
		height: $navbar-height;
		font-family: Consolas, Monospace, Arial, Helvetica, sans-serif;
		box-sizing: border-box;
		width: calc(100% / 4);
		padding: 5px;
		float: left;
		color: black;
		border-style: dotted;
		border-color: rgba(0, 0, 0, 0);
		border-top: 0px;
		border-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		transition: background-color 0.5s ease;

		&:hover {
			border-color: rgba(0, 0, 0, 0.055);
			background-color: rgba(0, 0, 0, 0.164);
		}

		&:active {
			border-color: rgba(0, 0, 0, 0.199);
			background-color: rgba(0, 0, 0, 0.342);
			color: rgb(0, 27, 148);
		}
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;

	&+.main {
		padding-top: $navbar-height;
	}
}

#headline {
	height: $header-height;
	box-sizing: border-box;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
}