// main: ../main.scss
@import '../utilities/colors';

.navbar {
  ul {
    background-color: $navbarColor;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align:center;
  }

  li {
    display: inline-block;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.25em 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $navbarColorHover;
  }
}
