// main: ../main.scss
@import '../utilities/colors';

.navbar {
  ul {
    height: 39px;
    background-color: $notJustGreyColor;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
  }

  li {
    display: inline-block;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 0.25em 16px;
      text-decoration: none;

      &:focus {
        text-decoration: underline;
      }

      &:active,
      &:hover {
        background-color: $greyieBlueColor;
        outline-style: none;
        text-decoration: none;
      }
    }
  }
}
