body {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 120%;
  background-color: #AED6F1;
}

main {
  padding: 0;
  margin: 0;
}

footer p {
  margin: 0;
  padding: 1cm;
  background-color: #21618C;
  color: white;
  text-align: center;
}

.navbar {
  overflow: hidden;
  list-style-type: none;
  background-color: white;
}

.navbar a {
  height: 33px;
  font-family: Consolas, Monospace, Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 3);
  padding: 5px;
  float: left;
  color: black;
  border-style: dotted;
  border-color: rgba(0, 0, 0, 0);
  border-top: 0px;
  border-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.navbar a:hover {
  border-color: rgba(0, 0, 0, 0.055);
  background-color: rgba(0, 0, 0, 0.164);
}

.navbar a:active {
  border-color: rgba(0, 0, 0, 0.199);
  background-color: rgba(0, 0, 0, 0.342);
  color: #001b94;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 33px;
}

#headline {
  height: 124px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

#returnToTop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #5499C7;
  padding: 5px;
  border-radius: 60px;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.281);
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  opacity: 0;
  visibility: hidden;
  width: 28px;
  height: 28px;
}

#returnToTop.show {
  opacity: 1;
  visibility: visible;
}

#returnToTop img {
  width: 28px;
  height: 28px;
}

#agb {
  background-color: #82E0AA;
}

.btn {
  background-color: rgba(30, 143, 255, 0.514);
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 30px;
}

.btn:hover {
  background-color: rgba(30, 143, 255, 0.808);
}

#infomations {
  background-color: #A3E4D7;
}

#androidApps {
  -webkit-transform: skew(5 deg);
          transform: skew(5 deg);
  background-color: #5499C7;
}

#javaPrograms {
  background-color: #C39BD3;
}

#arduino {
  background-color: #F7DC6F;
}

@media (min-width: 1024px) {
  .btn {
    width: auto;
  }
}

#introduction {
  background-color: #82E0AA;
}

#discord {
  text-align: center;
  background-color: #5DADE2;
}

#discordIframe {
  height: 500px;
  width: 100%;
}

#steam {
  background-color: #F7DC6F;
}

#github {
  background-color: #5499C7;
}

img {
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
}

.textRight,
.textLeft {
  text-align: center;
}

@media (min-width: 1024px) {
  #discordIframe {
    width: auto;
  }
  .imgLeft {
    float: left;
    margin-left: 20%;
  }
  .imgRight {
    float: right;
    margin-right: 20%;
  }
  .imgLeft,
  .imgRight {
    margin-top: -65px;
  }
  .textRight {
    margin-right: 20%;
    text-align: right;
  }
  .textLeft {
    margin-left: 20%;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */