@import "_style.scss";
$introductionColor: #82E0AA;
$discordColor: #5DADE2;
$steamColor: #F7DC6F;
$githubColor: #5499C7;
$color5: rgb(199, 191, 84);

#introduction {
    background-color: $introductionColor;
}

#discord {
    text-align: center;
    background-color: $discordColor;
}

#discordIframe {
    height: 500px;
    width: 100%;
}

#steam {
    background-color: $steamColor;
}

#github {
    background-color: $githubColor;
}

img {
    max-width: $img-size;
    max-height: $img-size;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $img-size;
}

.textRight,
.textLeft {
    text-align: center;
}

@media (min-width: $min-width) {
    #discordIframe {
        width: auto;
    }

    .imgLeft {
        float: left;
        margin-left: 20%;
    }

    .imgRight {
        float: right;
        margin-right: 20%;
    }

    .imgLeft,
    .imgRight {
        margin-top: -65px;
    }

    .textRight {
        margin-right: 20%;
        text-align: right;
    }

    .textLeft {
        margin-left: 20%;
        text-align: left;
    }
}