$header-height: 124px;
$navbar-height: 33px;

body {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 120%;
	background-color: #AED6F1;
}

.navbar {
	overflow: hidden;
	list-style-type: none;
	background-color: rgb(255, 255, 255);
}

.navbar a {
	font-family: Consolas, Monospace, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	width: calc(100% / 3);
	padding: 5px;
	float: left;
	color: black;
	border-style: dotted;
	border-color: rgba(0, 0, 0, 0);
	border-top: 0px;
	border-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	transition: background-color 0.5s ease;
	height: $navbar-height;
}

.navbar a:hover {
	border-color: rgba(0, 0, 0, 0.055);
	background-color: rgba(0, 0, 0, 0.164);
}

.navbar a:active {
	border-color: rgba(0, 0, 0, 0.199);
	background-color: rgba(0, 0, 0, 0.342);
	color: rgb(0, 27, 148);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .main {
	padding-top: ($header-height/2)-$navbar-height;
  }

#headline {
	height: $header-height;
	box-sizing: border-box;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
}

footer p {
	margin: 0;
	padding: 1cm;
	background-color: #21618C;
	color: white;
	text-align: center;
}

h1 {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text {
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
	overflow: hidden;
}

a {
	text-decoration: none;
}

img {
	max-width: 120px;
}

.links p {
	display: block;
}